/* 默认样式--提前设置好 */
* {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
}

input {
    border: none;
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFixed:after {
    content: "";
    display: block;
    clear: both;
}